.app-header {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-purple);
  padding: 10px;
  height: 200px;
  border-bottom: 3px solid black;
  justify-content: space-around;
}

.header-row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header-title {
  flex: 1;
  /* margin-left: -70px; */
  justify-content: center;
  /* align-items: center; */
  display: flex;
  flex-direction: row;
}

.logo {
  padding-right: 15px;
  margin-top: -4px;
  height: 70px;
}

.app-header-title p {
  font-size: 60px;
  font-weight: 600;
}

.app-header-profile-btn {
  margin-left: auto;
  margin-right: 20px;
  height: 60px;
  width: 60px;
  background-size: 100%;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px;
  border: 3px solid black;
}

.app-header-profile-btn:hover {
  cursor: pointer;
}

.profile-img {
  border-radius: 10px;
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.app-header-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app-header-btns button {
  margin: 10px 40px 10px 40px;
  padding: 10px;
  box-shadow: 5px 5px;
  border: 3px solid black;
  color: black;
  font-size: 20px;
  cursor: pointer;
  width: 300px;
}

.app-header-btns button:active,
.app-header-btns button:visited {
  background-color: var(--clr-purple);
}
